<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.GeneralTextEditor"
            class="net.certiv.tools.indentguide.preferences.IndentGuidePreferencePage"
            id="net.certiv.tools.indentguide.preferences.PreferencePage"
            name="IndentGuide">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certiv.tools.indentguide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.certiv.tools.indentguide.Starter">
      </startup>
   </extension>

</plugin>
